

<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
The content of the document......
<!--This is a comment. Comments are not displayed in the browser-->

<p>This is a paragraph.</p>


<h1>The a element</h1>

<a href="https://www.w3schools.com">Visit W3Schools.com!</a>

<a href="https://www.google.com"> Google </a>
<h1>The abbr element</h1>

<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>

<p> THe <abbr title="=Narasimha"> KBN </abbr> Was Found </p>

</body>

</html>